@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-primary: 'AtAero-Regular', sans-serif;
  --font-heading: 'Elianto-Regular', sans-serif;
  --font-display: 'Kanopi-Regular', sans-serif;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@font-face {
  font-family: 'AtAero-Regular';
  src: url('/fonts/AtAero-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Elianto-Regular';
  src: url('/fonts/Elianto-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanopi-Regular';
  src: url('/fonts/kanopibrazil-regular.otf') format('opentype');
  font-display: swap;
}