@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-primary: 'AtAero-Regular', sans-serif;
  --font-heading: 'Elianto-Regular', sans-serif;
  --font-display: 'Kanopi-Regular', sans-serif;
}

body {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png");
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'AtAero-Regular';
  src: url('/fonts/AtAero-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Elianto-Regular';
  src: url('/fonts/Elianto-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanopi-Regular';
  src: url('/fonts/kanopibrazil-regular.otf') format('opentype');
  font-display: swap;
}